/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Fonts */

.cover-heading {
	font-weight: 100;
	font-size: 42px;
}

.lead {
	font-size: 22px;
}


/* Custom default button */
.btn-default,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  opacity: .5;
  -webkit-blend-mode: overlay;

}
.btn-default:hover {
	opacity: .8;
}


/* Base structure */
html,
body {
  height: 100%;
  background-color: #333;
  background: url('/img/photobyigorguriev.jpg') no-repeat right center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 800px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.cover-container {
  margin-right: auto;
  margin-left: 50%;
  margin-right: 3%;
}

/* Padding for spacing */
.inner {
  padding: 30px 0px 30px 0px;

}

/* Footer */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  position: fixed;
  bottom: 0;
}

.mastfoot-nav > li {
  display: inline-block;
  padding-right: 20px;
}

.mastfoot-nav > li + li {
  margin-left: 20px;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

/*@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}*/

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  9999px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  9999px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  1px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  9999px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;